 body{
    background-color: #e7d5e5;
    margin: 0 auto;
}

.containerAll{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    border: solid 1px #534B52;
    background-color: #534B52;
    color: #E0DDCF;
    padding: 5px;
}
.title{
    color: #474448;
    font-size: 3rem;
    margin-bottom: 3%;
}

.myForm{
    margin: 0 3% 3%;
}

.divContainer {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(10%);
    border: solid 2px black;
}

.row {
    display: flex;
}

.cell {
    background-color: #FFFFFF;
    border: solid 1px;
}

.cell.hovered {
    background-color: black; 
    border: 1px solid white;
}


.erase{
    width: 50px;
    margin-bottom: 1%;
}