.containerAll{
    
}

.divContainer {
    display: flex;
    flex-direction: column;  
}

.row {
    display: flex; 
}

.cell {
    background-color: pink;
    height: 50px;
    width: 50px;
    border: solid 1px;
}

.cell.hovered {
    background-color: green; 
}
