 body{
    margin: 0 auto;
}

.containerAll{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin-bottom: 3%;
}

.myForm{
    margin: 0 3% 3%;
}

.divContainer {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(10%);
}

.row {
    display: flex;
}

.cell {
    background-color: #FFFFFF;
    border: solid 1px;
}

.cell.hovered {
    background-color: black; 
    border: 1px solid white;
}


.erase{
    width: 50px;
    margin-bottom: 1%;
}